@model Rental.Models.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all customers</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Is Subscribed to Newsletter</th>
        <th>Membership Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td>@(customer.IsSubscribedToNewsLetter ? "Yes" : "No")</td>
            <td>@customer.MembershipTypezId</td>
        </tr>
    }
    </tbody>
</table>